// Breakpoints
$breakpoints: (768px, 1024px);

// Susy3 Configuration
$susy: (
  'svg-grid-colors': hsla(180, 50%, 80%, 0.6)
);

$mobile: (
  'query': 'only screen and (max-width: #{px2em(nth($breakpoints, 1) - 1)})',
  'columns': susy-repeat(4),
  'gutters': 0.37,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

$tablet: (
  'query': 'only screen and (min-width: #{px2em(nth($breakpoints, 1))}) and (max-width: #{px2em(nth($breakpoints, 2))})',
  'columns': susy-repeat(8),
  'gutters': 0.44,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

$desktop: (
  'query': 'only screen and (min-width: #{px2em(nth($breakpoints, 2) + 1)})',
  'columns': susy-repeat(12),
  'gutters': 0.24,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

$aboveTablet: (
  'query': 'only screen and (min-width: #{px2em(nth($breakpoints, 1))})',
  'columns': susy-repeat(8),
  'gutters': 30px,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

$belowTablet: (
  'query': 'only screen and (max-width: #{px2em(nth($breakpoints, 2))})',
  'columns': susy-repeat(8),
  'gutters': 30px,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

$print: (
  'query': 'print',
  'columns': susy-repeat(8),
  'gutters': 30px,
  'spread': 'narrow',
  'container-spread': 'narrow'
);
