$font-family: (
  icon: 'myFont',
  custom-family: (
    Poppins,
    Lato,
    Arimo,
    'Helvetica Neue',
    Helvetica,
    Arial,
    PMingLiU,
    san-serif
  ),
  sans-serif:
    if(
      $use-unicode-range,
      my-sans-serif,
      (
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Ubuntu,
        'Helvetica Neue',
        Helvetica,
        Arial,
        Meiryo,
        '游ゴシック Medium',
        'Kozuka Gothic Pro',
        'Hiragino Kaku Gothic Pro',
        'Microsoft YaHei UI',
        'Microsoft YaHei',
        'Microsoft JhengHei',
        sans-serif
      )
    ),
  serif:
    if(
      $use-unicode-range,
      my-serif,
      (
        -apple-system,
        BlinkMacSystemFont,
        Georgia,
        'Times New Roman',
        Times,
        PMingLiU,
        'LiSong Pro',
        'Kozuka Mincho Pro',
        'MS Mincho',
        serif
      )
    ),
  monospace: (
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace
  ),
  sans-serif-ie: (
    'Helvetica Neue',
    Helvetica,
    Arial,
    'Meiryo UI',
    Meiryo,
    'Microsoft JhengHei',
    'Microsoft YaHei',
    'LiHei Pro',
    'Kozuka Gothic Pro',
    sans-serif
  ),
  serif-ie: (
    Georgia,
    'Times New Roman',
    Times,
    PMingLiU,
    NSimSun,
    'Kozuka Mincho Pro',
    serif
  )
);
