$layer: (
  footer: 1,
  main: 2,
  header: 3,
  sticky: 4,
  headroom: 5,
  gotoTop: 5,
  navbar: 6,
  modal: 7,
  slidePage: 8,
  pace: 14,
  select: 11,
  toast: 12,
  tooltip: 9,
  alert: 12,
  cookie: 13
);
